body{
    background: #012030;
    color: #fff;
    font-size: 10pt;
}
#container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
    margin-top: 20px;
}
.video-info {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #212129;
    border-radius: 5px;
  }
  
  .video-info img {
    width: auto;
    height:auto;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .video-info .text {
    flex-grow: 1;
  }
  
  .video-info h4 {
    margin-top: 0;
    word-wrap: break-word;
    font-family:10px;
  }
  .channel-name{
    margin-top: 0;
    margin-bottom: 0;
    color: #696666;
  }
  
  .video-info img:last-child {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  


.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
    margin-left: 390px;
    margin-top: 10px;
}
.search{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    outline: none;
}
button{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}
@media (max-width:320px){
    #container{
        display: inline-block;
    }
    .video{
        margin-top: 10px;
    }
    .search-box{
        width: 250px;
        margin-left: 30px;
    }
}
@media (max-width:375px){
    #container{
        display: inline-block;
    }
    .video{
        margin-top: 10px;
    }
    .search-box{
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width:425px){
    #container{
        display: inline-block;
    }
    .video{
        margin-top: 10px;
    }
    .search-box{
        width: 300px;
        margin-left: 50px;
    }
}
@media (max-width:768px){
    #container{
        display: inline;
    }
    .video{
        margin-top: 10px;
        height: 300px;
    }
    .search-box{
        width: 300px;
        margin-left: 30px;
    }
}
